%form#search_form{method: :get, action: "/#{locale}/search"}
  %input{type: :hidden, name: 'content_fragment[book]', value: @fragment.book}
  %input{type: :search, name: :query, placeholder: I18n.t('views.search_form.placeholder'), value: params[:query]}
