div#content
  margin-left: 300px
  &.user
    *:first-child
      margin-top: 0
    *:last-child
      margin-bottom: 1em
    article
      padding: 1em
      font-family: 'Charis SIL', serif
  &.editor
    background-color: #f0f0f0
    textarea
      margin: 0
      padding: 0
    fieldset
      margin: 0
      border: none
      border-top: 1px solid #ccc
      padding: .5em .5em 0 .5em
      margin: 0
      height: 1px
      input[type=text]
        margin-right: 1.25em
      input[type=submit]
        float: right
