@mixin file-icon
  position: relative
  &:before
    font-style: normal
    font-weight: normal
    text-decoration: none
    color: #000
    position: absolute
    top: .5em
    left: -.125em

a.file[href$='mp3']
  color: $blue
  &:hover
    color: shade($orange, 25%)
    
a.file[href$='pdf']
  +file-icon
  padding-left: 1em
  &:before
    content: '\f1c1'
    font-size: 90%
