[submodule "stylesheets/normalize-scss"]
	path = stylesheets/normalize-scss
	url = https://github.com/surayt/normalize-scss.git
	branch = master
[submodule "javascripts/jquery-ujs"]
	path = javascripts/jquery-ujs
	url = https://github.com/surayt/jquery-ujs.git
	branch = master
[submodule "stylesheets/bourbon"]
	path = stylesheets/bourbon
	url = https://github.com/surayt/bourbon.git
	branch = master
[submodule "stylesheets/neat"]
	path = stylesheets/neat
	url = https://github.com/surayt/neat.git
	branch = master
[submodule "javascripts/js-url"]
	path = javascripts/js-url
	url = https://github.com/surayt/js-url.git
	branch = master
[submodule "public/tinymce-dist"]
	path = public/tinymce-dist
	url = https://github.com/surayt/tinymce-dist.git
	branch = master
[submodule "javascripts/js-cookie"]
	path = javascripts/js-cookie
	url = https://github.com/surayt/js-cookie.git
	branch = master
[submodule "javascripts/jquery-dist"]
	path = javascripts/jquery-dist
	url = https://github.com/surayt/jquery-dist.git
	branch = master
[submodule "stylesheets/bitters"]
	path = stylesheets/bitters
	url = https://github.com/surayt/bitters.git
	branch = surayt
[submodule "public/tinymce_langs"]
	path = public/tinymce_langs
	url = https://github.com/surayt/tinymce_langs.git
	branch = master
[submodule "public/font-awesome"]
	path = public/font-awesome
	url = https://github.com/surayt/Font-Awesome.git
	branch = master
[submodule "javascripts/underscore"]
	path = javascripts/underscore
	url = https://github.com/jashkenas/underscore.git
