[submodule "stylesheets/lib/normalize-scss"]
	path = stylesheets/lib/normalize-scss
	url = https://github.com/surayt/normalize-scss.git
	branch = master
[submodule "javascripts/jquery-ujs"]
	path = javascripts/jquery-ujs
	url = https://github.com/surayt/jquery-ujs.git
	branch = master
[submodule "stylesheets/lib/bourbon"]
	path = stylesheets/lib/bourbon
	url = https://github.com/surayt/bourbon.git
	branch = master
[submodule "stylesheets/lib/neat"]
	path = stylesheets/lib/neat
	url = https://github.com/surayt/neat.git
	branch = master
[submodule "javascripts/js-url"]
	path = javascripts/js-url
	url = https://github.com/surayt/js-url.git
	branch = master
[submodule "static/tinymce-dist"]
	path = static/tinymce-dist
	url = https://github.com/surayt/tinymce-dist.git
	branch = master
[submodule "javascripts/js-cookie"]
	path = javascripts/js-cookie
	url = https://github.com/surayt/js-cookie.git
	branch = master
[submodule "javascripts/jquery-dist"]
	path = javascripts/jquery-dist
	url = https://github.com/surayt/jquery-dist.git
	branch = master
[submodule "static/tinymce_langs"]
	path = static/tinymce_langs
	url = git@github.com:surayt/tinymce_langs.git 
	branch = master
[submodule "static/font-awesome"]
	path = static/font-awesome
	url = https://github.com/surayt/Font-Awesome.git
	branch = master
[submodule "javascripts/underscore"]
	path = javascripts/underscore
	url = https://github.com/jashkenas/underscore.git
[submodule "javascripts/jqueryui"]
	path = javascripts/jqueryui
	url = https://github.com/surayt/jqueryui.git
[submodule "javascripts/jquery-mobile-dist"]
	path = javascripts/jquery-mobile-dist
	url = https://github.com/surayt/jquery-mobile-dist.git
[submodule "static/keyboard"]
	path = static/keyboard
	url = git@github.com:surayt/Keyboard.git
