!!!
%html{lang: locale}
  %head
    %meta{charset: 'utf-8'}/
    %link{href: '/stylesheets/main.css', rel: :stylesheet, type: 'text/css'}/
    %script{src: '/javascripts/jslibs/jquery.min.js', type: 'text/javascript'}
    %script{src: '/javascripts/jslibs/js.cookie.js', type: 'text/javascript'}
    %script{src: '/javascripts/tinymce/tinymce.min.js', type: 'text/javascript'}
    %script{src: '/javascripts/flash_messages.js', type: 'text/javascript'}
    %script{src: '/javascripts/sidebar.js', type: 'text/javascript'}
    %script{src: '/javascripts/tinymce.js', type: 'text/javascript'}
  %body{dir: :auto}
    = yield
