%nav#sidebar
  %div#logo
    %a{href: '/'}
      %img{src: '/images/logo_kl.png'}
  %h3= I18n.t('toc')
  = @toc.html if @toc
  - if current_user && current_user.is_admin?
    %form{method: :get, action: "/#{locale}/new"}
      %input{type: :hidden, name: 'content_fragment[book]', value: params[:book]}
      %input{type: :hidden, name: 'content_fragment[chapter]', value: params[:chapter]}
      %input{type: :submit, value: '+', class: 'btn fa-input'}
  %div#divider
