= haml :'modules/session_links'
= haml :'modules/logo'
= haml :'modules/sidebar', locals: {model: :exercise}

#content{lang: locale}
  - if ((content_class.include? 'exercises') && (view_mode == :edit))
    = haml :"exercises/edit"
