%article#language_list
  -# TODO: i18n!
  %h1 Please choose the language you would like to read the book in:
  %ul
    - @locales.each do |locale|
      %li
        %a{href: "/#{locale}/a1"}= I18n.t(locale)
  = haml :session_links
