!!!
%html{lang: session[:ui_locale], data: {ui_locale: session[:ui_locale]}}

  %head
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{rel: 'icon', href: '/assets/favicon.ico?v=1.0'}/
    %link{href: '/font-awesome/css/font-awesome.css', rel: :stylesheet, type: 'text/css'}/
    %link{href: '/assets/main.css', rel: :stylesheet, type: 'text/css'}/
    %title Šlomo Surayt

  %body{class: content_class}
    = styled_flash
    %p#admin-size-info= I18n.t('views.layout.admin_size_info')

    -# This is where the requested template is included,
    -# starting with index.haml for the front page or e.g.
    -# contents.haml for the book viewer / editor.

    #grid-container= yield
    
    %script{src: '/assets/main.js', type: 'text/javascript'}

    -# TODO: think about whether a separate layout for
    -# the editor would make sense? 
    - if request.params['view_mode'] && request.params['view_mode'] == 'edit'
      %script{src: '/tinymce-dist/tinymce.min.js', type: 'text/javascript'}
      %script{src: '/assets/tinymce.js', type: 'text/javascript'}
