%form#login-form{action: "/#{locale}/login", method: 'post'}
  %p
    %label{for: :user_email}= I18n.t('views.login_form.email')
    %input{type: :email, name: :user_email, id: :user_email, autofocus: true}
  %p
    %label{for: :user_password}= I18n.t('views.login_form.password')
    %input{type: :password, name: :user_password, id: :user_password}
  %p
    %input{type: :hidden, name: :referer, value: params[:referer]}
    %input{type: :submit, value: I18n.t('views.login_form.login')}
