%nav#sidebar
  -# The mobile version's nav menu
  %a#mobile-menu-button= '<i class="fa fa-bars"></i>'
  
  -# Phrase "Table of contents"
  %heading#toc-heading= I18n.t('toc')
  
  -# Table of contents depending on context 
  %section#toc= @toc.html(request.path_info) if @toc
  
  -# A button for creating a new content fragment
  - if current_user && current_user.is_admin?
    %form{method: :get, action: "/#{locale}/new"}
      %input{type: :hidden, name: :view_mode, value: :edit}
      %input{type: :hidden, name: 'content_fragment[book]', value: @fragment.book}
      %input{type: :submit, value: '+', class: 'btn fa-input', id: 'new-fragment-button'}
