#flash
  +hcenter
  z-index: 1000 // To get above TinyMCE...
  line-height: 2
  div
    border-top: none
    &:before,
    &:after
      content: "\00a0\00a0" // Padding isn't working for some reason...
  .notice
    background-color: tint($green, 25%)
    color: contrast-switch(tint($green, 25%))
    border: 1px solid $green
  .error
    background-color: tint($red, 25%)
    color: contast-switch(tint($red, 25%))
    border: 1px solid $red

body.user,
body.editor
  #flash
    margin-left: calc(12.5%)
body.language_list
  #flash
    margin-left: calc(-0.5%)
