body.admin.exercises
  #loe
    p 
      font-size: 8pt
      padding-left: .5em
  #sidebar ul
    padding-top: 0
  form fieldset
    padding-top: 4px !important
    input[type=text]
      width: 1em
