%p{style: 'width:500px;'}
  Jupp, diese ganze Seite hier ist weder Beta noch Alpha, die ist eher Pre-Alpha, auch Baustelle genannt. Bitte nicht zu viel erwarten und bitte nicht wundern wenn beim irgendwo draufklicken was kaputt geht. Der Zurück-Knopf ist dein Freund.

%ul
  - @exercises.each do |e|
    %li
      %a{href: "/#{I18n.locale}/exercises/#{e.id}?view_mode=edit"}= e.name
