#tinymce_heading_instance, #tinymce_section_instance
  table
    border: 1px dotted $black !important
    width: 100%

#tinymce_heading_instance
  margin-bottom: 0 !important
  a
    color: $red !important
  table
    border: none !important
    td
      border: none !important

#tinymce_section_instance
  a
    color: $blue !important
  table
    border: 1px dotted $black !important
    tr
      border: none
      td
        border: 1px dotted $black !important

// Needed for debugging only
#content *[lang]
  position: relative
  span.lang_designator
    display: none
    position: absolute
    left: -1em
    font-size: 8pt
    background-color: tint($grey, 25%)
    color: $black
    border: 2px solid $black
    padding: 3px 2px
    margin: 10px
    text-transform: uppercase
    z-index: 5000
    opacity: .75
    font-style: normal
    font-weight: normal
    text-direction: ltr
  &:hover span.lang_designator
    display: block
