// User view, heading editor, content editor
main article, #tinymce_heading_instance, #tinymce_section_instance
  section p img
    width: auto !important
    height: auto !important
  table, td, img
    &.width_5_percent
      width: 5% !important
    &.width_20_percent
      width: 20% !important
    &.width_50_percent
      width: 50% !important
    &.width_80_percent
      width: 80% !important
    &.width_100_percent
      width: 100% !important
  font-family: $font-stack-wordcabin-contents !important
  font-size: 11pt
  a *
    color: $blue
  a:hover, a:hover *
    color: $red !important
  h2, h3, h4
    font-weight: bold
    margin-top: .75em
    margin-bottom: 1.5em
    font-family: $font-stack-wordcabin-contents !important
  h2
    font-size: 130%
  h3
    font-size: 120%
  h4
    font-size: 110%
  .grey_background
    background-color: tint($grey, 35%)
  table
    margin: .25em 0 2.5em 0
    td
      // TODO: Find out why they look differently inside the editor?
      border: 1px solid $grey
      border-left: none
      border-right: none
      padding-left: .25em
      padding-right: .25em
      vertical-align: middle
      &:empty
        border: none !important
        background-color: transparent !important
        height: 1.5em
    tr:first-child td
      border-top: none
      background-color: tint($grey, 50%)
      font-weight: bold
      padding: .25em .5em
    &.no_header_row
      tr:first-child td
        border-top: 1px solid $grey
        background-color: transparent
        font-weight: normal
        padding: 0 .25em
    &.full_border
      tr:first-child td
        border-top: 1px solid $grey
        background-color: transparent
        font-weight: normal
        padding: 0 .25em
      td
        border: 1px solid $grey
        &:empty
          border: none !important
    &.first_cell_no_border
      tr:first-child td
        background-color: transparent
        font-weight: normal
        padding: 0 .25em
      td, tr:first-child td
        border: 1px solid $grey
      tr td[rowspan]:first-child
        border-left: none
        border-top: none
        border-bottom: none
    &.no_borders
      border: none
      background-color: none
      margin-bottom: 0
      td
        border: none
        padding: 0 .25em
        background-color: transparent
        font-weight: normal
        padding: 0 .25em
        
  ul
    list-style-type: square
    padding: 0 0 0 2em
    margin: .5em 0
  .highlight
    color: $red
  .greyed_out
    color: $grey
    
// User view and heading editor only
main article header
  // TODO: FIXME! The next line shouldn't ne necessary!
  border: 2px solid $blue
  margin-bottom: .75em
  table td
    font-size: 140%
main article header, #tinymce_heading_instance
  table
    margin: 0
    background-color: tint($blue, 35%)
    tr:first-child td
      background-color: transparent
    td
      border: none
      color: black
      padding: .35em .5em 
      margin: 0
      font-weight: bold
      
// User view and content editor only
main article section, #tinymce_section_instance
  table
    td
      padding-top: 0
      padding-bottom: 0
    &.header_table
      margin-bottom: .75em
      td
        padding: .35em .5em .35em 0
        font-weight: bold
        border: none !important
        &:first-child
          padding: .35em .5em
      tr:first-child td
        background-color: transparent
      &.h2
        background-color: tint($blue, 50%)
        border: 2px solid tint($blue, 10%) !important
        color: $black
      &.h3
        background-color: tint($blue, 70%)
        border: 2px solid tint($blue, 30%) !important
        color: $black
      &.h4
        background-color: tint($blue, 90%)
        border: 2px solid tint($blue, 50%) !important
        color: $black
  +grid-media($medium-grid)
    table
      margin-left: auto
      margin-right: auto
      position: relative
  table
    &.infobox
      margin-top: -.75em
      tr:first-child > td
        padding: 1em
        td
          padding: 0
      td
        border-top: 1px solid tint($blue, 50%)
        border-bottom: 1px solid tint($blue, 50%)
      td
        background-color: transparent !important 
        border: none
        font-weight: normal !important
      &.notice
        // TODO: add "House" icon in top left corner
        background-color: #FFDAA9
      &.culture
        background-color: #BEEEB2
      &.grammar
        background-color: tint($blue, 75%)
        table
          width: 90%
          th
            background-color: tint($blue, 65%)
            padding: .125em .25em
          td
            border-top: 1px solid tint($grey, 75%) !important
            border-bottom: 1px solid tint($grey, 75%) !important
          &.no_header_row tr:nth-child(2) td
            border-top: none

main article
  margin-bottom: 1em
  section
    iframe, p img
      display: block
      position: relative
      border: none
      margin: auto
      margin-bottom: 2.5em
      z-index: 0 !important
      max-width: calc(100%)

#tinymce_section_instance table
  border: 1px dotted $black !important
  tr
    border: none
    td
      border: 1px dotted $black !important
      
#tinymce_heading_instance table
  border: none !important
  td
    border: none !important
