// User view, heading editor, content editor
main article, #tinymce_heading_instance, #tinymce_section_instance
  *
    font-size: 12pt
    font-family: 'Charis SIL', $font-stack-helvetica, 'Serto Jerusalem' !important
  h1, h2, h3, h4, h5, h6
    font-weight: bold
  table
    margin: 0 0 .75em 0
  td
    border: 1px solid $grey
    padding-left: .25em
    padding-right: .25em
  ul
    list-style-type: square
    padding: 0 0 0 2em
    
// User view and heading editor only
main article header
  border: 1px solid tint($blue, 10%)
  margin-bottom: .75em
main article header, #tinymce_heading_instance
  table
    margin: 0
    font-weight: bold
    background-color: tint($blue, 50%)
    td
      border: none
      color: contrast-switch(tint($blue, 50%))
      padding: .35em .5em 
      margin: 0
      
// User view and content editor only
main article section, #tinymce_section_instance
  table
    td
      padding-top: 0
      padding-bottom: 0
    &.infobox
      background-color: tint($orange, 50%)
      border: 1px solid tint($orange, 10%) !important
      td
        border: none
        padding: .5em
        &:first-child
          padding: .2em 0 0 .5em
          width: 5%
          font-weight: bold
          font-size: 150%
    &.header_table
      font-weight: bold
      background-color: tint($blue, 50%)
      border: 1px solid tint($blue, 10%)
      td:
        border: none
        color: contrast-switch(tint($blue, 50%))
        padding: .35em .5em 
