!!!
%html{lang: locale}

  %head
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{href: "/font-awesome/css/font-awesome.css", rel: :stylesheet, type: 'text/css'}/
    %link{href: "/assets/main.css", rel: :stylesheet, type: 'text/css'}/
    %script{src: "/tinymce/tinymce.min.js", type: 'text/javascript'}
    %script{src: "/assets/main.js", type: 'text/javascript'}
    
  %body{dir: :auto, class: content_class}
    = styled_flash
    #grid-container= yield
