%nav#sidebar

  %a.btn.menu= '<i class="fa fa-bars"></i>'
  %heading= I18n.t('toc')
  %section= @toc.html(request.path_info) if @toc

  - if current_user && current_user.is_admin?
    %form{method: :get, action: "/#{locale}/new"}
      %input{type: :hidden, name: :view_mode, value: :edit}
      %input{type: :hidden, name: 'content_fragment[book]', value: @next_fragment.book}
      %input{type: :hidden, name: 'content_fragment[chapter]', value: @next_fragment.chapter}
      %input{type: :submit, value: '+', class: 'btn fa-input'}
