@include font-face("ALW Piktograms", "/assets/alwpikto")

@include font-face("Charis SIL", "/assets/CharisSIL-R")
@include font-face("Charis SIL", "/assets/CharisSIL-B")
  font-weight: bold
@include font-face("Charis SIL", "/assets/CharisSIL-I")
  font-style: italic
@include font-face("Charis SIL", "/assets/CharisSIL-BI")
  font-weight: bold
  font-style: italic

@include font-face("Serto Jerusalem", "/assets/SertoJerusalem")
@include font-face("Serto Jerusalem", "/assets/SertoJerusalemBold")
  font-weight: bold
@include font-face("Serto Jerusalem", "/assets/SertoJerusalemItalic")
  font-style: italic
