@include font-face("ALW Piktograms", "/fonts/ALWPiktos")

@include font-face("Charis SIL", "/fonts/CharisSIL-R")
@include font-face("Charis SIL", "/fonts/CharisSIL-B")
  font-weight: bold
@include font-face("Charis SIL", "/fonts/CharisSIL-I")
  font-style: italic
@include font-face("Charis SIL", "/fonts/CharisSIL-BI")
  font-weight: bold
  font-style: italic

@include font-face("Serto Jerusalem", "/fonts/SyrCOMJerusalem")
@include font-face("Serto Jerusalem", "/fonts/SyrCOMJerusalemBold")
  font-weight: bold
@include font-face("Serto Jerusalem", "/fonts/SyrCOMJerusalemItalic")
  font-style: italic
