*:lang(syr), *:lang(ar)
  direction: rtl
  font-size: 16pt

*:lang(syr)
  font-family: 'Serto Jerusalem'

*:lang(ar)
  font-family: 'Amiri', 'Times New Roman', 'serif'
  
// *:lang(de), *:lang(en), *:lang(fr), *:lang(sv), *:lang(nl), *:lang(tr)
