*:lang(syr), *:lang(ar)
  direction: rtl
  font-size: 16pt
  text-align: right

*:lang(syr)
  font-family: 'Serto Jerusalem', 'Times New Roman', 'serif'

*:lang(ar)
  font-family: 'Amiri', 'Times New Roman', 'serif'
  
// No special styling required for these at the moment, but I typed them down and want to keep them around...
// *:lang(de), *:lang(en), *:lang(fr), *:lang(sv), *:lang(nl), *:lang(tr)
