// mobile FIRST, so we start by disabling interface elements,
// then start re-enabling them as we work upwards through the
// breaking point definitions.
// the only exception is the menu button, which has to vanish
// on bigger devices as it's only meant for those with limited
// real estate.
body.user,
body.editor
  #logo
    padding: .75em .75em 0 0
    width: 100%
    height: 3.125em
    background: linear-gradient(tint($blue, 75%), tint($grey, 75%))
    a img
      float: right
      height: 1.9em
  #sidebar
    input.btn
      display: none
    a.btn.menu
      position: absolute
      z-index: 5
      top: .35em
      left: .35em
      font-size: 20px
      cursor: pointer
      &.fixed
        position: fixed
        i
          color: shade($blue, 5%) !important
      i
        color: $blue
        font-weight: bold
      &:hover i
        color: contrast-switch($orange) !important
    heading, section
      display: none
    $toc-orange: tint($orange, 25%)
    section
      padding: .7em 1em .35em 1.25em
      opacity: 1
      z-index: 3
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background: $toc-orange
      li
        padding-left: 1em
        a, span
          color: $white
        span
          font-weight: bold
  #sidebar-handle
    display: none
  #content
    margin-top: .25em
    padding: 0 .25em

// bigger tablets, laptops and desktops,
// with NO admin logged in.
body.user
  +grid-media($medium-grid)
    +toc
    #logo
      padding: .75em .75em 0 0
      width: 100% 
      height: 6.125em
      background: linear-gradient(tint($blue, 75%), tint($grey, 75%)) 
      position: fixed
      top: 0
      left: 0
      z-index: 2
      background-color: $white
      text-align: center
      img
        height: auto
        float: none
    #sidebar
      border-top: 2em solid tint($blue, 25%)
      position: fixed
      background-color: $orange
      height: 100%
      margin-top: 6.125em
      heading, a
        color: $white !important
      a.btn.menu
        display: none
      heading
        display: block
        position: fixed
        left: 0
        z-index: 2
        margin-top: -22px
        padding: 0 0 0 .25em
        color: contrast-switch($orange)
      section
        display: block
        background-color: transparent
        z-index: -1
        padding: .25em .25em 0 0
        a:hover
          color: contrast-switch($orange) !important
      input.btn
        display: block
        position: fixed
        bottom: .5em
        left: .5em
        +button
        padding: 6px 9px 3px 9px
    #logo, #sidebar
      +grid-column(1.5)
      border-right: 1px solid shade($grey, 25%) !important
      box-shadow: 3px 0px 6px 0 rgba(85,85,85,0.5)
      &.hidden
        +grid-column(0)
        display: none
    #sidebar-handle
      display: block
      width: 16px
      height: 30px
      background-color: $orange
      position: fixed
      margin: 8.5em 0 0 -1px
      padding: 4px 0 0 2px
      border-radius: 0 5px 5px 0
      border: 1px solid shade($grey, 25%)
      border-left: 1px solid $orange
      cursor: pointer
      i
        color: $white
    #content
      +grid-column(4.5)
      margin-top: .5em
      margin-left: calc(25%)
      main
        padding: 1em 1.5em .75em 2em
      &.fullscreen
        +grid-column(6)
        margin-left: none
            
// any device no matter its size, but
// WITH an admin logged in.
body.editor
  #grid-container
    display: none // TODO: re-enable when there's a need for a mobile admin screen!
  #sidebar heading
    display: none
  +grid-media($editor-grid)
    #grid-container 
      display: block // TODO: remove when there's a need for a mobile admin screen!
      background-color: shade($tinymce-grey, 15%)
    #grid-container, #sidebar, #sidebar section, #content, #content form
      height: 100%
    #logo, #sidebar
      border-right: 1px solid shade($tinymce-grey, 75%) !important
    #logo
      +grid-column(3, $editor-grid)
      background: none
      background-color: shade($tinymce-grey, 75%)
      position: absolute
      left: -1px
      height: 3.5em
      text-align: center
      img 
        float: none
    #sidebar
      +grid-column(3, $editor-grid)
      box-shadow: none
      position: fixed
      top: 3.5em
      border-right: none
      margin-left: 0
      margin-right: none
      a
        color: contrast-switch(shade($tinymce-grey, 35%))
        &.btn.menu
          display: none
      input.btn
        display: block
        position: fixed
        bottom: .5em
        left: .5em
        +button
        padding: 6px 9px 3px 9px
      section
        background-color: shade($tinymce-grey, 35%)
        display: block
        padding: 0
        a:hover
          color: black
      ul.level_1
        li.level_1
          background-color: shade($tinymce-grey, 50%)
          padding: .25em .25em .25em .35em
          span
            color: contrast-switch($orange)
        ul.level_2
          padding-top: .5em
        li
          padding-left: 1em
    #sidebar-handle
      display: none
    #content
      +grid-column(9, $editor-grid)
      margin: 0 0 0 calc(25%)
      form
        min-width: 918px
        fieldset
          border-top: 1px solid shade($tinymce-grey, 50%)
          height: 49px
          +grid-column(9, $editor-grid)
          position: fixed
          bottom: 0
          padding: 10px .5em 0 .5em
          input
            max-width: 25%
          input, label
            display: inline-block
            margin-bottom: .6em
          label
            color: contrast-switch($tinymce-grey)
          input[type=text]
            padding: 4px 4px
            margin-top: 1px
            margin-right: .5em
            border: 1px solid shade($tinymce-grey, 25%)
            font-size: 95%
          input[type=submit]
            +button
            font-weight: normal
            padding: 5px 11px
            float: right
