// HTML resets beyond Normalize
body
  font-size: 10pt
  font-family: $font-stack-system
*, a
  text-decoration: none
  color: $black
  
// Bourbon/Neat/Bitters resets
table, tr
  border: none !important
a
  outline: none !important
input[type=submit], button, .btn
  &:active, &:focus
    outline: none !important
    border: 1px solid $white
  
// Setting up FontAwesome, even though that's not really a reset ^^
.fa-input
  font-family: 'FontAwesome', sans-serif

// TinyMCE tweaks
.mce-tinymce
  border-top: none !important
  border-left: none !important
  border-right: none !important
  // Caused by bitters; resetting as wellt...
  #{$all-buttons} 
    &:hover
      background-color: $tinymce-grey
      color: $black
    &:focus,
    &:active
      outline: none
      outline-offset: 0
      padding: 3px 7px
  .mce-listbox button
    &:focus,
    &:active
      border: 0
      padding: 4px 20px 4px 8px
