body

  // Mobile devices
  #session-links
    position: fixed
    top: 7px
    right: 1em
    z-index: 3
    font-size: 10pt
    display: none // Will be displayed when menu button is clicked
    form
      display: inline-block
      select
        font-size: 11px
        margin: 0
        -webkit-box-sizing: border-box // For legacy WebKit based browsers
        -moz-box-sizing: border-box // For legacy (Firefox <29) Gecko based browsers
        box-sizing: border-box
    a
      color: shade($blue, 25%)
      &:hover
        color: contrast-switch($orange)
  &.index #session-links
    display: block

  // Larger devices  
  +grid-media($medium-grid)
    #session-links
      display: block
      z-index: 1
      right: 6px
      a, span
        color: $blue
        +button
        
// Arabic-language version of the course
          
html[lang=ar] body

  #session-links
    right: auto
    left: 6px
