body

  // Mobile devices
  #session-links
    position: fixed
    top: .5em
    right: 1em
    z-index: 3
    font-size: 10pt
    display: none // Will be displayed when menu button is clicked
    a
      color: shade($blue, 25%)
      &:hover
        color: contrast-switch($orange)
  &.index #session-links
    display: block

  // Larger devices  
  +grid-media($medium-grid)
    #session-links
      display: block
      z-index: 1
      right: .5em
      a, span
        color: $blue
        +button
