%article{class: "fragment_#{@fragment.id}"}

  - unless @fragment.heading.blank?
    %header= @fragment.heading
    
  - if @fragment.exercises.any?
    %section
      - @fragment.exercises.each do |exercise|
        - @exercise = exercise
        = haml :'exercises/view'

  - unless @fragment.html.blank?
    %section= @fragment.html
