#content[lang=ar]
  article, textarea
    font-family: $font-stack-wordcabin-contents-arabic

    #titlepage
      h2
        font-size: 40pt !important
      h3
        font-size: 30pt !important
      p
        line-height: 20px
        font-size: 20pt
      table
        td
          text-align: right
          vertical-align: middle
          &:last-child
            font-size: 10pt !important
            line-height: 18px
    
    *
      font-size: 105%
    *[lang=syr]
      font-size: 100%
    *[lang=en]
      font-size: 65%
    .header_table
      td
        font-size: 115%
      *[lang=syr]
        font-size: 110%
      *[lang=en]
        font-size: 90%

    ul li
      margin-right: 20px
